.month-container {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  margin: 2%;
  background-color: #ffdcbf;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px #282c34;
}

.month-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.day-label {
  text-align: center;
  padding: 8px;
}

td {
  padding: 8px;
  border: 1px solid #ddd;
  height: 100px;
}
