.month-container {
  display: inline-block;
  vertical-align: middle;
  margin: 2%;
  background-color: #ffdcbf;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px #282c34;
}

.month-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
