.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 2%;
  bottom: 0;
  right: 0;
  animation: App-logo-spin infinite 20s linear, App-logo-scale 10s infinite alternate;
  transform-origin: 100% 100%;
  z-index: -1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear, App-logo-scale 10s infinite alternate;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.NewTaskForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* This centers the form horizontally */
  margin-top: 20px; /* Adjust the margin-top as needed */
  width: 300px; /* Adjust the width as needed */
}
